# Dependencies
**/node_modules/
**/package-lock.json

# Environment
**/.env
**/.env.local

# Build outputs
**/.next/
**/out/
**/build/
**/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp
**/temp/
